<div class="select">
<select>
  <optgroup label="Categories">
    <option selected="selected">Following</option>
    <option>I love Steve Jobs</option>
    <option>PHP is awesome</option>
    <option>I'm a Developer</option>
  </optgroup>
  
  <optgroup label="Followers">
    <option>Facebook</option>
    <option>Youtube</option>
    <option>Stackoverflow</option>
    <option>SublimeText</option>
    <option>PHP&Jquery</option>
  </optgroup>
  
  <optgroup label="Watching">
    <option>Facebook</option>
    <option>Youtube</option>
    <option>Stackoverflow</option>
    <option>SublimeText</option>
    <option>PHP&Jquery</option>
  </optgroup>
</select>
  <div class="select-wrapper"></div>
</div>
<!-- <div class="followers">
  <select>
    <optgroup label="Categories">
      <option selected="selected"><p>Followers:(<%= user.followers.count %>)</p></option>
      <option>esmeryjose</option>
    </optgroup>
  </select>
</div>
<div class="following">
  <select>
    <option value="Followers"><p>Following:(<%= user.followings.count %>)</p></option>
    <option value="paige15">paige15</option>
    <option value="parmLikesFood">parmLikesFood</option>
    <option value="saab">esmeryjose</option>
    <option value="mercedes">natalisp</option>
    <option value="audi">olive4oyl</option>
  </select>
</div>
 -->

<!-- <div class="select">
<select>
  <optgroup label="Categories">
    <option selected="selected">What a beauty day</option>
    <option>I love Steve Jobs</option>
    <option>PHP is awesome</option>
    <option>I'm a Developer</option>
  </optgroup>
  
  <optgroup label="Favorites">
    <option>Facebook</option>
    <option>Youtube</option>
    <option>Stackoverflow</option>
    <option>SublimeText</option>
    <option>PHP&Jquery</option>
  </optgroup>
</select>
  <div class="select-wrapper"></div>
</div> -->