<div class="followers">
  <select>
    <option value="Followers"><p>Followers:(<%= user.followers.count %>)</p></option>
    <option value="saab">esmeryjose</option>
  </select>
</div>
<div class="following">
  <select>
    <option value="Followers"><p>Following:(<%= user.followings.count %>)</p></option>
    <option value="paige15">paige15</option>
    <option value="parmLikesFood">parmLikesFood</option>
    <option value="saab">esmeryjose</option>
    <option value="mercedes">natalisp</option>
    <option value="audi">olive4oyl</option>
  </select>
</div>
