<div class="nav_bar">
  <ul class="dotstyle dotstyle-fillin">
    <li class="nav-tooltip" title="Commits"><a href="#secondPage/1"></a></li>
    <li class="nav-tooltip" title="Languages"><a href="#secondPage/0"></a></li>
    <li class="nav-tooltip" title="Repositories"><a href="#secondPage/2"></a></li>
  </ul>
</div>    
    
