<div class="nav_bar">
  <ul>
    <li data-menuanchor="firstPage"><a href="#secondPage">Repositories</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage/0">Languages</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage/2">Commits</a></li>
  </ul>
</div>
