<ul id="menu">
  <li data-menuanchor="firstPage"><a href="#firstPage">Home</a></li>
  <li data-menuanchor="secondPage"><a href="#secondPage/1">Visualization</a></li>
  <li><%= link_to("Sign out", destroy_user_session_path, method: "delete") if user_signed_in?%></li>
</ul>

<div id="fullpage">

  <div class="section active" id="section0" data-anchor="firstPage">

    <%= render partial: "users/home_partials/icon", locals: {user: @user} %>

    <%= render "users/home_partials/navbar" %>

    <%= render partial: "users/home_partials/follow", locals: {user: @user} %>

  </div>



  <div class="section" id="section1" data-anchor="secondPage">

    <div class="slide">
      <div class="intro">
        <h1>Languages</h1>
      </div>
    </div>

    <div class="slide active">
      <div class="intro">
        <h1>Repositories</h1>
      </div>
    </div>

    <div class="slide">
      <div class="intro">
        <h1>Commits</h1>
      </div>
    </div>

  </div>


</div>
