<script type="text/javascript">
    window.currentUser = {
        id: "<%= current_user.id %>",
        token: "<%= current_user.token %>"
    }
</script>
<ul id="menu">
  <li data-menuanchor="firstPage"><a href="#firstPage">First slide</a></li>
  <li data-menuanchor="secondPage"><a href="#secondPage/1">Second slide</a></li>
  <%= link_to("User Profile", user_path(current_user), 'class': 'btn btn-primary' ) %>
  <%= link_to("Sign out", destroy_user_session_path, method: "delete") if user_signed_in?%>
</ul>

<div class="section active" id="section0" data-anchor="firstPage">
  <h2 class="search-heading">Search Github User Below</h2>
  <form class="form-wrapper cf">
      <input type="text" placeholder="Search here..." required>
      <button type="submit">Search</button>
  </form>
</div>
<div class="section" id="section1" data-anchor="secondPage">
  <div class="slide">
    <div id="reposChart"><h3>Repos Languages</h3></div>
    <div class="intro">
      <canvas id="pieChart" width="300" height="300"></canvas>
    </div>

  </div>
  <div class="slide active" >
    <div id="reposChart"><h3>Repos Chart</h3></div>
    <div class="intro" id="reposChart">
      <canvas id="commitsChart"></canvas>
    </div>
  </div>
  <div class="slide">
    <div class="intro">

      <canvas id="barChart"></canvas>
    </div>
  </div>
  <div class="slide">
    <div class="intro">

      <h1>Compatible</h1>
      <p>Working in modern and old browsers too! IE 8 users don't have the fault of using that horrible browser! Lets give them a chance to see your site in a proper way!</p>
    </div>
  </div>
</div>
