<script type="text/javascript">
    window.currentUser = {
        id: "<%= current_user.id %>",
        token: "<%= current_user.token %>"
    }
</script>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to("User Profile", user_path(current_user), 'class': 'btn btn-primary' ) %>
<%= link_to("Sign out", destroy_user_session_path, method: "delete") if user_signed_in?%>
