#barChart {
  width: 750px !important;
  height: 700px !important;
}

#pieChart {
  width: 650px !important;
  height: 650px !important;
}

#commitsChart {
  width: 750px !important;
  height: 700px !important;
}
canvas {
  margin: auto;
  display: block;
  width: 100% !important;
  max-width: 1000px;
  height: auto !important;
}

#reposChart {
  text-align: center;
}

.title {
    text-align: center;
    color: #6A6A6A;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
  }
