#barChart {
  width: 600px !important;
  height: 450px !important;
}

#pieChart {
  width: 450px !important;
  height: 450px !important;
}

canvas {
  margin: auto;
  display: block;
}

#reposChart {
  text-align: center;
}
