form.edit_user {
  display: inline-block;
}

.image_index {
  border: 5px solid #d5d5d5;
  width:70%;
  height:30%;
}

.thumbnail{
  padding: 15px !important;
  border: 5px solid #d5d5d5 !important;
  border-radius: 40px !important;
  margin-top: 30% !important;
  margin-left: 5% !important;
  background-color: #fff !important;
}
.caption{
  text-align: center;
  width: auto;
}

.col-sm-6 {
  width: 20% !important;
}

.btn{
  font-size: 11px !important;
}

.forms form{
  display: inline-block;
}