.dotstyle {
  position: fixed;
  margin: -95px auto 0;
  top: 50%;
  right: 30px;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.dotstyle li {
  position: relative;
  display: block;
  margin: 18px 150px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #ca4444;
  background-color: #ca4444;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
}

.dotstyle li a:focus {
  outline: none;
}

.dotstyle-fillin li a {
  background-color: transparent;
  box-shadow: #ca4444;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.dotstyle-fillin li a:hover {
  opacity: .8;
}

.dotstyle-fillin li a:focus {
  box-shadow: #ca4444;
}

.dotstyle-fillin li.current a {
  box-shadow: #ca4444;
}

.nav-tooltip .tooltip > .tooltip-inner {
    background-color: #ca4444;
}

.nav-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #ca4444;
}
