.front_page {
  text-align: center;
  display:block;
  margin-top: 20%;
}

.front  {
  font-size: 600%;
}

.login {
  text-align: center;
  margin-top: -5%;
}

.user_icon {
  text-align: center;
  height: auto;
  font-size: 40px;
}

.image {
  border-radius: 50%;
  border: 8px solid #fff;
  width:30%;
  height:30%;
}

table, th, td {
  margin: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 70%;
  color: #6A6A6A;
  }

.nav_bar {
  margin-left: 80%;
  margin-top: -25%;
}

li {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

.followers {
  margin: -8% 0% 0% 5%;
  /*margin-top: -8%;*/
  padding-bottom: 10%;
  display: block;
}

.following {
  margin: -8% 0% 0% 5%;
  /*margin-top: -8%;*/
  padding-bottom: 10%;
  display: block;
}

.slide_name{
  margin-left: 70px;
}

.dotstyle {
  position: fixed;
  margin: -95px auto 0;
  top: 50%;
  right: 30px;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.dotstyle li {
  position: relative;
  display: block;
  margin: 18px 150px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
}

.dotstyle li a:focus {
  outline: none;
}

.dotstyle-fillin li a {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #00A896;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.dotstyle-fillin li a:hover {
  opacity: .8;
}

.dotstyle-fillin li a:focus {
  box-shadow: 0px 0px 0px 8px #00A896 inset;
}

.dotstyle-fillin li.current a {
  box-shadow: inset 0 0 0 8px white;
}
