.front_page {
  text-align: center;
  display:block;
  margin-top: 20%;
}

.front  {
  font-size: 600%;
}

.login {
  text-align: center;
  margin-top: -5%;
}

.user_icon {
  text-align: center;
  height: auto;
  font-size: 40px;
}

.image {
  border-radius: 50%;
  border: 5px solid #d5d5d5;
  width:30%;
  height:30%;
}

table, th, td {
  margin: auto;
  font-size: 15px;
  color: #181B1C;
  }

.nav_bar {
  margin-left: 80%;
  margin-top: -25%;
}

li {
  font-size: 30px;
}

.followers {
  margin: -8% 0% 0% 5%;
  /*margin-top: -8%;*/
  padding-bottom: 10%;
  display: block;
}

.following {
  margin: -8% 0% 0% 5%;
  /*margin-top: -8%;*/
  padding-bottom: 10%;
  display: block;
}

.slide_name{
  margin-left: 70px;
}
